name: Deploy Docs

on:
    push:
        branches:
            - master
        paths:
            - "docs/**"
            - ".vitepress/**"
            - "package.json"

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: pnpm/action-setup@v2
              with:
                  version: 8

            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Build docs
              run: pnpm docs:build

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./docs/.vitepress/dist
                  cname: quizerjs.io
